{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
 <title>Web Tech Project Resit</title>
 <link rel="stylesheet" type="text/css" href="webtechstylesheet.css">
</head>

<body>

 <div class="background">

   <div class="top-part">
      <h1> Random Thoughts Blog </h1>
      <h2> Share your random thoughts with the world! </h2>

      <div class="inputs">
        <h3>
          <textarea class="userarea" placeholder="Enter your name"></textarea>
          <br>
          <textarea class="thoughtarea" placeholder="Enter your thought"></textarea>
          <br>
          <button class="submit"> Submit </button>
        </h3>
      </div>

    </div>

    <div class="middle-part">
      <div class="flex-width">
        <div class="flex-container">

          <div class="post">
            {% for post in posts %}
              <div>
                  <p>published: {{ post.published_date }}</p>
                  <h1><a href="">{{ post.title }}</a></h1>
                  <p>{{ post.text|linebreaksbr }}</p>
              </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>

    <div class="bottom-part">
      <h3> footnote </h3>
    </div>

 </div>

</body>

</html>
