<!DOCTYPE html>

<html>

<head>
 <title>Web Tech Project Resit</title>
 <link rel="stylesheet" type="text/css" href="webtechstylesheet.css">
</head>

<body>

 <div class="background">

   <div class="top-part">
      <h1> Random Thoughts Blog </h1>
      <h2> Share your random thoughts with the world! </h2>

      <div class="inputs">
        <h3>
          <textarea class="userarea" placeholder="Enter your name"></textarea>
          <br>
          <textarea class="thoughtarea" placeholder="Enter your thought"></textarea>
          <br>
          <button class="submit"> Submit </button>
        </h3>
      </div>

    </div>

    <div class="middle-part">
      <div class="flex-width">
        <div class="flex-container">

          <div class="post">
            <div class="user">
              Krabs
            </div>
            <div class="thought">
              Hallo wereld!
            </div>
          </div>

          <div class="post">
            <div class="user">
              Spongebob
            </div>
            <div class="thought">
              Dit is echt super cool.
           </div>
          </div>

          <div class="post">
            <div class="user">
              Patrick
            </div>
            <div class="thought">
              He determined to drop his litigation with the monastry, and relinguish his claims to the wood-cuting and fishery rihgts at once. He was the more ready to do this becuase the rights had becom much less valuable, and he had indeed the vaguest idea where the wood and river in quedtion were.
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="bottom-part">
      <h3> footnote </h3>
    </div>

 </div>

</body>

</html>
